@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Doutor Roberto Frias<br />
    s/n, 4200-465 Porto<br />
    <abbr title="Contacto">P:</abbr>
    253253123
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>