@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/caroussel.css" rel="stylesheet" />

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://d3thflcq1yqzn0.cloudfront.net/000408062_prevstill.jpeg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Bioenergia</h1>
                    @*<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>*@
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Ler mais</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://www.montepio.pt/iwov-resources/SitePublico/imagens/pt_PT/empresas/financiamentos/energias-renovaveis/energias-renovav-470-214-e.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Energias Renováveis</h1>
                    @*<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>*@
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://3.bp.blogspot.com/-XUosg9P9_4U/UpMqVVxtF-I/AAAAAAAAAeQ/KN-r1yrAJvE/s1600/investment.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Otimização</h1>
                    @*<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>*@
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->


<div class="row">
    <div class="col-md-4">
        <h2>Quem somos..</h2>
        <p>
            O grupo de bioenergia é uma unidade de investigação integrada na unidade CIENER da Faculdade de Engenharia 
            da Universidade do Porto, para o qual, iremos apresentar a nível de software a criação de um sítio na internet 
            capaz de abranger as necessidades do grupo. A integração desta aplicação complementará a forma atual de partilha de 
            ideias, divulgação de trabalhos, publicações científicas entre outras. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Serviços prestados</h2>
        <p>Atualmente o Grupo Bioenergia detém grande necessidade de publicitar os trabalhos científicos, assim como,
         as atividades de consultoria desenvolvidas.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipa</h2>
        <p>Atualmente o Grupo Ciener Bioenergia contem uma equipa com cerca de 15 pessoas liderada pelo dr. Rui Eusebio.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>